
// Fonts
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Ubuntu+Mono');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #5D4936;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 5px solid #33C6FF;
}

.navbar {
    color: #DDD3C9;

    h1 {
        font-family: 'Major Mono Display', monospace;
    }

    .resource-bar {
        //font-weight: bold;
        font-size: 1.2em;
    }
}

body {
    color: $font-color;
    background-color: $body-bg;
}

.resource-bar {
    li {
        display: block;
        float: left;
        margin-left: 1em;
    }
}

.intelligence-panel {
    border: 3px solid grey;
    padding: 0.75em 1.0em;
    min-height: 51.5vh;
    max-height: 80vh;
    overflow: auto;
    background-color: black;
    color: #11ee11;
    word-wrap: normal;
    white-space: pre-wrap;
    font-family: monospace;
}

.progress {
    background-color: #333;
}

.panel {
    border: 3px solid grey;
    background-color: #fdfdfd;
    padding: 1em;

    .row {
        padding-left: 1em !important;
        padding-right: 1em !important;
    }

    p {
        font-size: 1.25em;
    }

    .requirements {
        p {
            font-size: 1.2em;
            display: block;
            float: left;
            margin-right: 1.2em;
        }
    }
}
